.Header-wrapper{
    display: flex;
    justify-content: space-between;
}
.Header-wrapper ul{
    display: flex;
    

}
.Header-wrapper ul li{
    list-style-type: none;
    padding: 5px;
}
.Header-wrapper ul li a{
    text-decoration: none;
}
.Header-wrapper ul li button{
    border: none;
    background-color: transparent;
    color: rgb(202, 23, 23);
    font-size: 16px;
}
.Footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
}
.input-error{
    position: absolute;
    padding: 8px;
    color: rgb(202, 23, 23);
    font-size: 16px;
}